/* Keyframes for underline animation */
@keyframes underlineRightToLeft {
  0% {
    width: 0;
    left: 0;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

/* Base styles for nav links */
.nav-link {
  position: relative;
  text-decoration: none;
}

/* Underline effect on hover */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #461111; /* Change the color as needed */
  animation: underlineRightToLeft 0.3s ease-in-out forwards;
  visibility: hidden;
}

.nav-link:hover::after {
  visibility: visible;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000; /* Adjust the z-index to a higher value */
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 5px;
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f9f9f9;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .md:hidden {
    display: block;
  }
}
